<footer>
    <section class="bottomBar">

        <div id="socialMedia">
            <i class="fab fa-instagram"></i>
            <h3>Seguinos en nuestras redes sociales</h3>
            <p> intagram</p>
            
        </div>

        <div class="envio">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en nuestra página.</p>
        </div>

        <div class="seguridad">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo!.</p>
        </div>

        
        
    </section>
        <div class="copyright">
            <h4>Copyright © 1999-2022 Forest Company.</h4>
        </div>

   
</footer>