<header class = "header General">

    <div class="headerVideo">
    <video   src = "/images/fondo.mp4" muted autoplay loop></video>
    </div>

    <div class="headerCapa">

    </div>

    
    </div>

  
</header>