<div class="barConteiner">
  
  <nav class="menu">
        <ul class="icons">
          <li>Home</li>
          <li>About</li>
          <li>Contacto</li>
        </ul>      
  
      </nav>
  
</div>