<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

<body>

    <%- include ('partials/header') %>

<div class="flexinicio">

    <div class="logoYsite">

        <a href="/"> <img src="/images/logo.png"></a>

        <div class="productsList">
            <a href="">
            <h3>PLANTAS</h3>
            </a>
            <a href="">
            <h3>DECO</h3>
            </a>
            <a href="">
            <h3>SUSTRATOS</h3>
            </a>
        </div>

        <div class="actionsList">
            <a href="./views/register.ejs">
            <h3>Crea tu cuenta</h3>
            </a>
            <a href="users/login">
            <h3>Login</h3>
            </a>
            <a href="">
            <h3>Contacto</h3>
            </a>
        </div>
    
    </div>
    
    <section class="bodyCarrito">

        <h1>Carrito</h1>
        <article class="itemCarrito">

            <div class="section1">
                <h3>Item</h2>
            </div>
            
            <div class="section2">
                <h3>Precio</h2>
            </div>
                        
            <div class="section3">
                <h3>Cantidad</h2>
            </div>
            
            <div class="section4">
                <h3>Subtotial</h2>
            </div>
                        
            <div class="section1a">
                <img src="/images/colocasia-black.jpg" alt="">
            
                <div>Nombre de Producto

                </div>
            </div>
            
            <div class="section2a">$0</div>
                        
            <div class="section3a"> 
                <label for="tentacles">N°</label>
                <input type="number" id="tentacles" name="tentacles" min="1" max="100">
            </div>
                        
            <div class="section4a">$0</div>
        
        </article>
                    
        <div class="comprarCarr">
            <button class="btnRegister">Comprar</button>
        </div>
    
    </section>
                
</div>          
        
    
</body>

</html>