<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest</title>
</head>

<body>
    <header>
        <section id="topSection">

        </section>

    </header>
    <main>
        <div class="leftBar">
            <div id="logo">

            </div>
            <ul id="productsList">

            </ul>
            <ul id="actionsList">
                <li>Login</li>
                <li>Carito</li>
                <li>Contacto</li>
            </ul>
        </div>
        <section id="barsMain">
            <nav id="itemsBar">

            </nav>
            <nav id="itemsOrder">

            </nav>
        </section>
        <section class="articulesBox">

        </section>
        <div class="rightBar">

        </div>
    </main>
    <footer>
        <section class="bottomBar">
            <div id="socialMedia">

            </div>
            <div class="information">

            </div>

        </section>
    </footer>
</body>

</html>