<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css" rel="stylesheet" type="text\css">
    <title>Forest</title>
</head>

<body>
    <header>
        <section id="topSection">

        </section>

    </header>
    <main>
        <div class="leftBar">
            <div id="logo">
<a href="http://localhost:3030"><img src="\images\logo-forest.jpg" alt=""></a>
            </div>
            <ul id="productsList">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <ul id="actionsList">
                <li><a href=""><h3>Login</h3></a></li>
                <li><a href=""><h3>Carrito</h3></a></li>
                <li><a href=""><h3>Contacto</h3></a></li>
            </ul>
        </div>
        <section id="barsMain">
            <nav id="itemsBar">

            </nav>
            <nav id="itemsOrder">

            </nav>
        </section>
        <section class="articulesBox">
            <a href="">
                <article>
<section class="productInf">
    <p class="price-"></p>
    <p class="descriptionP"></p>    
</section>
                </article>
            </a>
            <a href="">
                <article>
                    <p class="price-"></p>
                    <p class="descriptionP"></p>  
                </article>
            </a>
            <a href="">
                <article>
                    <p class="price-"></p>
                    <p class="descriptionP"></p>  
                </article>
            </a>
        </section>
        <div class="rightBar">
<div class="topCart">
    <img src="" alt="">
</div>
<section class="addedItems">
<ul id="rightList"> <h3> Productos: </h3>
    <li></li>
</ul>
</section>
        </div>
    </main>
    <footer>
        <section class="bottomBar">
            <div id="socialMedia">

            </div>
            <div class="information">

            </div>

        </section>
    </footer>
</body>

</html>