<html lang="en">
    <!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Forest</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap" rel="stylesheet">

    <body>
    <header class = "header General">

    <div class="headerVideo">
    <video   src = "images/fondo.mp4" muted autoplay loop></video>
    </div>

    <div class="headerCapa">

    </div>

    
    </div>

    <div class="header-General">
        <div class="flexinicio">
            <div class="logoYsite">
                
            <a href="/"> <img src ="images/logo.png" ></a>
            
            <div class ="productsList">
                <a href=""><h3>PLANTAS</h3></a>
                <a href=""><h3>DECO</h3></a>
                <a href=""><h3>SUSTRATOS</h3></a>
            
            </div>

            <div class ="actionsList">
                <a href="/register"><h3>Crea tu cuenta</h3></a>
                <a href="/login"><h3>Login</h3></a>
                <a href="/carrito"><h3>Carrito</h3></a>
                <a href=""><h3>Contacto</h3></a>
                
            </div>
            </div>
        
        <div class="productos">
        <h1> productos </h1>

        <div class="item">
            <a href="/producto">
                        <div class="img-producto">
                          <img src="/images/colocasia-black.jpg">
                        </div>
                          <p> Colocasia Black Coral </p>
                          <strong>$3500</strong>
                          <button class="btnRegister"> Agregar al carrito </button>
            </a>
        </div>

        <div class="item">
            <a href="/producto">
                        <div class="img-producto">
                          <img src="/images/monstera-deliciosa.jpg">
                        </div>
                          <p> Monstera deliciosa</p>
                          <strong>$2500</strong>
                          <button class="btnRegister"> Agregar al carrito </button>
                      </a>
        </div>

        <div class="item">
            <a href="/producto">
                        <div class="img-producto">
                          <img src="/images/peperomia.jpg">
                        </div>
                          <p> Peperomia watermelon</p>
                          <strong>$3200</strong>
                          <button class="btnRegister"> Agregar al carrito </button>
                      </a>
            </div>


        </div>
        
        </div>
   
    <footer>
        <section class="bottomBar">

            <div id="socialMedia">
                <i class="fab fa-instagram"></i>
                <h3>Seguinos en nuestras redes sociales</h3>
                <p> intagram</p>
                
            </div>

            <div class="envio">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en nuestra página.</p>
            </div>

            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo!.</p>
            </div>

            
            
        </section>
            <div class="copyright">
                <h4>Copyright © 1999-2022 Forest Company.</h4>
            </div>

       
    </footer>
</div>
    </header>
       
</body>

</html>