<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Forest</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
</head>

<body>
    <main>
    <header>
        <section class ='flexInicio'>
        <div class="izquierda">

            <div id="logo">
            <img src="images/logo-forest.jpg">
            </div>

            <div class ="productsList">
                <a href=""><h3>PLANTAS</h3></a>
                <a href=""><h3>DECO</h3></a>
                <a href=""><h3>SUSTRATOS</h3></a>
            
            </div>

            <div class ="actionsList">
                <a href="/register"><h3>Login</h3></a>
                <a href=""><h3>Carrito</h3></a>
                <a href=""><h3>Contacto</h3></a>
            </ul>
            </div>

        </div>
        
        
            <div class="derecha">

             <div class="siteimg">
                <img class = "lados" src = "images/flores-izq.jpg" alt ="">
                <img class = "centro" src="images/head-productos.jpg" alt="">
                <img class = "lados" src = "images/flores-der.jpg" alt ="">
             </div>

            <section class="productos">

               
                <div class="item">
                          <article>
                              <img src="/images/blackcoral.png" width="360" alt="" class="product_img">
                              <div class="main-article">
                                  <i class="fas fa-shipping-fast"></i>
                                  <div style="display: flex;width:100%">
                                      <p class="precio" style="flex-grow: 0.3;">$30.000</p>
                                      <p class="descuento" style="flex-grow:0.4">20% off</p>
                                  </div>
                              </div>
                              <h4>PLANTAS</h4>
                          </article>
                </div>
      
                <div class="item">
                  <article>
                      <img src="/images/blackcoral.png" width="360" alt="" class="product_img">
                      <div class="main-article">
                          <i class="fas fa-shipping-fast"></i>
                          <div style="display: flex;width:100%">
                              <p class="precio" style="flex-grow: 0.3;">$30.000</p>
                              <p class="descuento" style="flex-grow:0.4">20% off</p>
                          </div>
                      </div>
                      <h4>PLANTAS</h4>
                  </article>
                </div>
      
      
        <div class="item">
          <article>
              <img src="/images/blackcoral.png" width="360" alt="" class="product_img">
              <div class="main-article">
                  <i class="fas fa-shipping-fast"></i>
                  <div style="display: flex;width:100%">
                      <p class="precio" style="flex-grow: 0.3;">$30.000</p>
                      <p class="descuento" style="flex-grow:0.4">20% off</p>
                  </div>
              </div>
              <h4>PLANTAS</h4>
          </article>
      </div>

      <div class="item">
        <article>
            <img src="/images/blackcoral.png" width="360" alt="" class="product_img">
            <div class="main-article">
                <i class="fas fa-shipping-fast"></i>
                <div style="display: flex;width:100%">
                    <p class="precio" style="flex-grow: 0.3;">$30.000</p>
                    <p class="descuento" style="flex-grow:0.4">20% off</p>
                </div>
            </div>
            <h4>PLANTAS</h4>
        </article>
    </div>

    <div class="item">
        <article>
            <img src="/images/blackcoral.png" width="360" alt="" class="product_img">
            <div class="main-article">
                <i class="fas fa-shipping-fast"></i>
                <div style="display: flex;width:100%">
                    <p class="precio" style="flex-grow: 0.3;">$30.000</p>
                    <p class="descuento" style="flex-grow:0.4">20% off</p>
                </div>
            </div>
            <h4>PLANTAS</h4>
        </article>
    </div>

    <div class="item">
        <article>
            <img src="/images/blackcoral.png" width="360" alt="" class="product_img">
            <div class="main-article">
                <i class="fas fa-shipping-fast"></i>
                <div style="display: flex;width:100%">
                    <p class="precio" style="flex-grow: 0.3;">$30.000</p>
                    <p class="descuento" style="flex-grow:0.4">20% off</p>
                </div>
            </div>
            <h4>PLANTAS</h4>
        </article>
    </div>

      </section>
            </div>

    
    </header>
    
    </main>
    <footer>
        <section class="bottomBar">

            <div id="socialMedia">
                <i class="fab fa-instagram"></i>
                <h3>Seguinos en nuestras redes sociales</h3>
                <p> intagram</p>
                
            </div>

            <div class="envio">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en nuestra página.</p>
            </div>

            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo!.</p>
            </div>

            </div>
            
        </section>
            <div class="copyright">
                <h4>Copyright © 1999-2022 Forest Company.</h4>
            </div>

       
    </footer>
</body>

</html>