
<body>

    <form class="register" action="/" method ="get">
        <h3>REGISTRARME</h3>
        <div>
            <label for="name">Nombre de usuari@</label>

            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label>
                Contraseña
                <input type="password" name="contrasenia" value="contrasenia">
            </label>
        </div>
            <a href="/home"><button>Enviar</button></a>
    </form>       
    
</body>