<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Forest</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
</head>
<body>
    <div class="siteimg">
        <img class = "lados" src = "images/flores-izq.jpg" alt ="">
        <img class = "centro" src="images/head-productos.jpg" alt="">
        <img class = "lados" src = "images/flores-der.jpg" alt ="">
     </div>

    <form class="register" action="/" method ="get">
        <h3>REGISTRARME</h3>
        <div>
            <label for="name">Nombre de usuari@</label>

            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label>
                Contraseña
                <input type="password" name="contrasenia" value="contrasenia">
            </label>
        </div>
            <a href="/home"><button>Enviar</button></a>
    </form>       
    
</body>