<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Forest</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
</head>
    <body class="bodyLogin">
        <header class = "header General">
    
        <div class="headerVideo">
        <video   src = "images/fondo.mp4" muted autoplay loop></video>
        </div>
    
        <div class="headerCapa"></div>
    
        <div class="header-General">

                <form class="login" action="/" method ="get">
                   
                    <a href="/"> <img src ="images/logo.png" ></a>
                    
                    <h3>INGRESAR</h3>
                
                    <div class="in">
                        <label for="name">Nombre de usuari@</label>
                        <input class="in" type="text" id="name" name="name" placeholder = "Escribí tu nombre">
                    </div>
                    
                    <div class="in">
                        <label>Contraseña</label>
                        <input class="in" type="password" name="contrasenia" placeholder="Escribí tu contraseña">
                    </div>

                        <a href="./home.html">
                            <div >
                            <button class="btnRegister">Enviar</button>
                            </div>
                        </a>

                </form>   
            
            </div>
       
        <footer>
            
            
                <div class="copyright">
                    <h4>Copyright © 1999-2022 Forest Company.</h4>
                </div>
    
           
        </footer>
    </div>
        </header>
           
    </body>
    
    </html>

    
      