<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

<body class="bodyLogin">
        
    <%- include ('partials/header') %>

    <form class="login" action="/users/login" method ="POST" >
        <a href="http://localhost:3030/"> <img src ="/images/logo.png" ></a>
        <h3>INGRESAR</h3>
                
        <div class="in">
            <label for="name">Em@il</label>
            <input class="in" id="email" type="text" name="email" placeholder = "Escribí tu mail">
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
        </div>
                    
        <div class="in">
            <label>Contraseña</label>
            <input class="in" type="password" id='pass' name="password" placeholder="Escribí tu contraseña">
        </div>
        <label>
          <input type="checkbox" name="remember_user">Recordar mi usuario
        </label>
        
        <div >
            <button class="btnRegister" id="btnRegister" type ="submit">Enviar</button>
        </div>
        

    </form>   
            
          
    <div class="copyright">
         <h4>Copyright © 1999-2022 Forest Company.</h4>
    </div>
    <script src="/js/login.js"></script>
</body>
    
</html> 

    
      