<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>
    
    <body class="bodyLogin">
        <header class = "header General">
    
        <div class="headerVideo">
        <video   src = "images/fondo.mp4" muted autoplay loop></video>
        </div>
    
        <div class="headerCapa"></div>
    
        <div class="header-General">

                <main class="modificarProducto">
                    <section>
                        <div></div>
                        <div></div>
                        <div></div>
                    </section>
                </mai>
            
            </div>
        <footer>
            
            
                <div class="copyright">
                    <h4>Copyright © 1999-2022 Forest Company.</h4>
                </div>
           
        </footer>
    </div>
        </header>
           
    </body>
    
    </html>

