<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Forest</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
</head>
    <body class="bodyLogin">
        <header class = "header General">
    
        <div class="headerVideo">
        <video   src = "images/fondo.mp4" muted autoplay loop></video>
        </div>
    
        <div class="headerCapa"></div>
    
        <div class="header-General">

                <section class="modificarProducto">
                    
                </section>
            
            </div>
       
        <footer>
            
            
                <div class="copyright">
                    <h4>Copyright © 1999-2022 Forest Company.</h4>
                </div>
    
           
        </footer>
    </div>
        </header>
           
    </body>
    
    </html>
