<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

<body>
    
    <%- include ('partials/header')%>
        
    <div class="flexinicio">
        
        <div class="logoYsite">
            <a href="/"> <img src ="images/logo.png" ></a>
            
            <div class ="productsList">
                <a href=""><h3>PLANTAS</h3></a>
                <a href=""><h3>DECO</h3></a>
                <a href=""><h3>SUSTRATOS</h3></a>
            </div>

            <div class ="actionsList">
                <a href="/register"><h3>Crea tu cuenta</h3></a>
                <a href="/login"><h3>Login</h3></a>
                <a href="/carrito"><h3>Carrito</h3></a>
                <a href=""><h3>Contacto</h3></a>
            </div>
<<<<<<< HEAD
        <section class="addProduct">
            <label for="subida-imagen"> Imagen del producto:
            <form class="subirImg" name="subida-imagen" type="POST" enctype="multipart/formdata" >
                <input type="file" name="imagen" />
            </form>
            </label>
            <label for="nombre"> Nombre:
            <form class="nombreImg" name="nombre" type="POST" enctype="multipart/formdata" >
                <input type="text" name="nombre" />
            </form>
        </label>
        <label for="descripcion">
            <form class="descImg" name="descripcion" type="POST" enctype="multipart/formdata" >
                <input type="text" name="descripcion" />
            </form>
        </label>
        <label for="precio"> Precio:
            <form class="precioImg" name="precio" type="POST" enctype="multipart/formdata" >
                <input type="number" name="precio" />
            </form>
        </label>
        <label for="descuento"> Descuento:
            <form name="descuento" type="POST" enctype="multipart/formdata" >
                <input type="number" name="descuento" />
            </form>
        </label>
    </section>
        </div>
=======
        </div>
        
        <div class="productoDetalle">

        <div class="imagenDetalle">
            <h1> Colocasia black Coral </h1>
            <img src="images/colocasia-black.jpg">
        </div>

        <div class="descripacionProducto">
            <p>HOJAS NEGRAS DE ASPECTO BRILLANTE, con la llegada del frío se retrae y vuelve a brotar en primavera.</p>
            <h2>$3500</h2>
            <button class="btnRegister">Agregar al carrito</button>
        </div>

        </div>
        
    </div>
>>>>>>> e8733aa7b3f2aea1d9c0229d3044629e158bac5f
   
<footer>
    
    <%- include ('partials/footer')%>

    <div class="copyrightProducto">
        <h4>Copyright © 1999-2022 Forest Company.</h4>
    </div>

</footer>

</body>

</html>