
body {
    
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: #666;
    
}

/* HEAD */

.siteimg {
    display: flex;
    flex-grow: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.lados {
    width: 20%;    
    display: none;
}
.centro {
    width: 40%;
    text-align: center;
    display: block;
    padding-left: 30px;

}



/* LOGO SITE INICIO */

.flexInicio {
    display: flex;
    box-sizing: border-box;
    
}

.izquierda {
    background-color: white;
    height: 300vh;
    width: 30%;
    
}

.productsList {
    font-size: 10px;
    position: relative;
    text-align: left;
}

.actionsList {
    font-size: 10px;
    position: relative;
    text-align: left;
}


#logo{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: auto;

 
}

#logo img {
    padding-top: 100px;
  
    width: 40%;
    padding-bottom: 60px;
    
}

div {
padding: 10px;
text-align: center;
font-family: 'Quicksand', sans-serif;

}

/* PRODUCTOS HOME */

.precio {
    font-size: 14px;
    font-weight:450;
    color: #03264C;
}

.descuento {
    font-size: 10px;
    color: #39b54a;
}

.productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}

.item article {
    background-color: #FFF;
    margin: 10px 0px;
}


.item img {
    width: 100%;
    
}

.main-article {
    width: 100%;
    
    
}

/* FOOTER*/



.bottomBar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(255, 255, 255);
    border: solid 2px #bebebe;
    color: #bebebe;

}

.bottomBar div {
    width:25%;
    padding: 15px;
}

.copyright {
    padding: 10px;
    padding: 15px;
}

.copyright h4 {
    text-align: left;
    color: #666;
    margin-bottom: 15px;
    width: 45%;
}

/* REGISTRO LOGIN */

.register {
    color: #bebebe;
    padding: 15px;
    font-family: 'Quicksand' , sans-serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
}

.register h1{
    padding-top: 15px;
    color: #666;
    padding-bottom: 20px;
}
.register div {
    font-size: 20px;
    color: #666;
    text-align: left;
}
.registerBox {
display: flex;
padding: 15px;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
text-align: left;
align-items: center;
justify-content: center;

}

.registerBox label {
    padding: 10px; 

}

/*DIFERESTES PANTALLAS*/ 

@media (min-width:769px) {

    /* site logo inicio grande*/

    .flexInicio {
        display: flex;
        box-sizing: border-box;
        
    }
    
    .izquierda {
        background-color: white;
        height: 150vh;
        width: 25%;
        
    }
    .derecha {
        width: 75%;
        position: relative;
    }
    .actionsList{
    font-size: 20px;
    position: relative;
    text-align: left;
    }
    .productsList{
    font-size: 20px;
    position: relative;
    text-align: left;
    }
    
    #logo{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: auto;
    }
    
    #logo img {
        padding-top: 100px;
        position: relative;
        width: 40%;
        padding-bottom: 60px;
        
    }
    
    div {
    padding: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
    }
   
    /* head pantalla grande*/

    .siteimg {
        display: flex;
        flex-grow: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    
    .lados {
        width: 20%; 
        display: block;   
        height: 25vh; 
    }
    .centro {
        width: 40%;
        height: 25vh;
        display: block;
    }


    /*productos pantalla grande*/

.productos {
    padding:15PX;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: 25%;

}

/* footer grande*/


.bottomBar i {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
}




