/* FONDO DE PAGINA*/
*{
    box-sizing: border-box;
}

body {

    margin: 0;
    font-size: 1rem;
    color:#bebebe;
    font-family: 'Roboto Flex', sans-serif;
    z-index: 2;
}


.headerVideo {

    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    overflow: hidden;

}

video {

    min-width: 100%;
    min-height: 100%;

}

.headerCapa {

    height: 300vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    opacity: .60;

}

/* SITE Y LOGO*/

.flexinicio h1 {

    font-family: 'Roboto Flex', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    color: #bebebe;
    padding-bottom: 40px;
    z-index: 2;

}

.flexinicio {

  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 40px;
  flex-direction: row;
  z-index: 2;
  color: #bebebe;
  
}

.logoYsite {
    
    width: 20%;
    border-radius: 15%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    opacity: .85;
    font-family: 'Roboto Flex', sans-serif;
    text-align: left;
    font-size: 20px;
    border: 2px solid #3112a2;
    border-radius: 5px;
    padding: 15px;
    z-index: 2;
      
}

a {
    
    color: #bebebe;
    text-decoration:none;

}

.logoYsite img {

    padding-top: 40px;
    width: 45%;
    padding-bottom: 30px;
    
}

/* TARJETA DE PRODUCTOS */

.productos{

    width: 75%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 2;

}

.productos h1 {

    width: 100%;
    position: relative;

}

.item {

    width: 25%;
    border: 2px solid #3112a2;
    border-radius: 5px;
    padding: 15px;
    
}

.item img {

    position: relative;
    width: 90%;

}

strong {

    width: 100%;
     position: relative;
    font-size: 25px;
    padding-bottom:15px ;
 
}

/* FOOTER*/

.bottomBar {

    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content:space-around;
    color: #bebebe;
    align-items: center;
    opacity: .85;
    z-index: 2;

}

.bottomBar div {

    width:25%;
    text-align: center;
    padding: 15px;

}

.copyright {

    padding: 10px;
    z-index: 2;
    
}

.copyright h4 {

    text-align: left;
    color: #666;
    z-index: 2;
    width: 100%;

}

/*LOGIN*/

.login {

    border: 2px solid #3112a2;
    border-radius: 5px;
    padding: 17px;
    width: 300px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;

}

.login input {

   width: 100%;
   margin-bottom: 20px;
   font-size: 16px;
   height: 40px;
   border: none;
   border-bottom: 1px solid rgb(34, 34, 34);
  
}

.login img{
    
    width: 100px;

}

 /* CARRITO */

 .headerVideoC {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;

}

.bodyCarr {

    display: flex;
    flex-wrap: wrap;
}

.bodyCarrito { 

    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
    position: relative;
    z-index: 2;

}

.itemCarrito{

    display: flex;
    flex-wrap: wrap;
    border: #bebebe solid 3px;

}

.section1 {

    width: 50%;
    text-align: center;
    padding: 5px;
    border-bottom: #bebebe solid 5px;

}

.section2 {

    width: 20%;
    text-align: center;
    padding: 5px;
    border-bottom: #bebebe solid 5px;

}

.section3 {

    width: 10%;
    text-align: center;
    padding: 5px;
    border-bottom: #bebebe solid 5px;

}

.section4 {

    width: 20%;
    text-align: center;
    padding: 5px;
    border-bottom: #bebebe solid 5px;

}

.section1a {

    width: 50%;
    display: flex;
    justify-content: center;
    padding: 2px;
    border-bottom: #bebebe solid 5px;

}

.section1a img{

    max-width: 100px;
    margin: 2px;
    align-items: center ;
    padding: 5px;
    border-bottom: #bebebe solid 5px;

}

.section2a {

    width: 20%;
    text-align: center;
    padding: 2px;
    border-bottom: #bebebe solid 5px;

}

.section3a {

    width: 10%;
    text-align: center;
    padding: 2px;
    border-bottom: #bebebe solid 5px;

}

.section4a {

    width: 20%;
    text-align: center;
    padding: 5px;
    border-bottom: #bebebe solid 5px;

}

.comprarCarr {

    width: auto;
    text-align: right;

}

/* REGISTRO  */

.REGISTRARME {

    width: 70%;
    font-family: 'Roboto Flex', sans-serif;
    margin-bottom: 0;
    font-size: 40px;
    color: #bebebe;
    padding-bottom: 10px;
    z-index: 2;

}

.register {

    color: #bebebe;
    padding: 10gpx;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;

}

.register h1{

    padding-top: 15px;
    color: #bebebe;
    padding-bottom: 20px;

}

.register div {

    font-size: 20px;
    color:#bebebe;
    text-align: left;
    padding: 15px;

}

.registerBox {
 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;

}
 
/* BOTON PARA TODO*/
.btnRegister {

    color: #362593;
    border: 2px solid #3112a2;
    background: transparent;
    border-radius: 10px;
    padding: 10px 25px;
    padding: 10px;
 
}
 
.btnRegister:hover {

    box-shadow: 2px 2px 15px #39036d inset;

}
      
.btnRegister:active {
 
   box-shadow: 2px 2px 20px #3c0370 inset;

}
      
/*PAGINA PRODUCTO*/

.productoDetalle{

    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;

}

.productoDetalle h1 {
    
    text-align: center;

}

.imagenDetalle{

    width:60%;
   
}

.imagenDetalle img {

    width: 50%;
    height: auto;  
   
}

.descripcionProducto {

    width: 20%;
    font-size: 20px;
    height: auto;
        
}

.copyrightProducto {
    
    padding: 40px;
    padding-top: 200px;
    z-index: 2;

}

/* INDEX */

.verindex {

    width: 100%;
    padding: 15px;
    z-index: 2;
    justify-content: space-around;
    align-items: right;
    font-size: 25px;
    display: flex;
    padding-left: 800px;

}

/* CREATE PROducTO*/
.create {

    z-index: 2;

}
.contenedorcreate {
 
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    
    
}

.contenedorcreate h2 {

    
    color: #bebebe;
    padding-top: 15px;
    padding-bottom: 20px;
    
}

.contenedorcreate div {
    padding: 15px;
}

.labelcreate {
font-size: 25px;
}

.labelinput {
    font-size: 20px;
}

/* INDEX PRODUCTOS*/

.todoslosProductos {

    width: 75%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}

.todoslosProductos img{

    position: relative;
    width: 90%;
    
}



/*DIFERESTES PANTALLAS*/ 

@media (max-width:400px){

    .login {

        width:90%;
        text-align: center;
        
    }
    
    .flexinicio{
    
        width:100%;
    
    }

    .logoYsite{
    
        display: none;
    
    }
    
    h1 {
    
        font-size: 15px;
    
    }
    
    .productos {
     
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 70%;
     font-size: 10px;
     z-index: 2;
     
    }
    
    .item {
  
        width: 100%;
  
    }

    .bottomBar{
  
        display: none;
  
    }
}


@media only screen and (max-width:769px) and (min-width:400px) {

    /* site logo / productos inicio table*/
    .logoYsite{
  
        display: none;
  
    }
  
    .productos{
  
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        z-index: 2;
  
    }
  
    .item{
  
        width: 50%;
        padding: 10px;
        border: none;
  
    }
  
   
    /* footer pantalla tablet*/

    .bottomBar{
        
        display: none;
    
    }


    .copyright{
    
        width: 100%;
    
        z-index: 2; 
    
    }
}




